<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>raaheHidayat.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>9</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>511250714029875E714BC77C8DC2D5A6647FC797</string>
				<key>dateExpires</key>
				<string>04/02/27</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>R8953SWC87.com.prayer.raahe</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>R8953SWC87</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>raaheHidayat.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c4e29820-25c1-4044-a0ea-986e380b831a</string>
				<key>dateExpires</key>
				<string>04/02/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.prayer.raahe</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>R8953SWC87</string>
				<key>name</key>
				<string>Abdul Nadim</string>
			</dict>
			<key>versionNumber</key>
			<string>5.5.0</string>
		</dict>
	</array>
</dict>
</plist>
