<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/raaheHidayat.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.prayer.raahe</string>
		<key>CFBundleShortVersionString</key>
		<string>5.5.0</string>
		<key>CFBundleVersion</key>
		<string>5.5.0</string>
		<key>SigningIdentity</key>
		<string>Apple Distribution: Abdul Nadim (R8953SWC87)</string>
		<key>Team</key>
		<string>R8953SWC87</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2026-02-18T23:46:58Z</date>
	<key>Name</key>
	<string>raaheHidayat_iOS</string>
	<key>SchemeName</key>
	<string>raaheHidayat_iOS</string>
</dict>
</plist>
